.idea/
.cache/
.gopath/
/**/__pycache__
*.pyc
build/

tests/env
tests/venv
tests/.cache
test-env/
.pytest_cache/
logs/
/tmp/

/spark/
docker-dist
docker-build
statsd-reporter
spark-statsd-reporter/dependency-reduced-pom.xml
mesos-spark-integration-tests/
mesos-spark-integration-tests-assembly-*.jar
dcos-spark-scala-tests-assembly-*.jar

*.out
checksums
test-jar-checksum
aws.*
stub-universe-url
terraform.*

id_key*
ssh.keys

env/
venv/

.DS_Store