{
  "id": "/spark-batch-workload",
  "backoffFactor": 1.15,
  "backoffSeconds": 1,
  "cmd": "cd $MESOS_SANDBOX; git clone https://github.com/mesosphere/spark-build.git; cd spark-build/; pwd; git checkout $SPARK_BUILD_BRANCH; python3 -m venv test-env; pip3 install -r scale-tests/requirements.txt; dcos cluster setup https://master.mesos --username=$DCOS_UID --password=$DCOS_PASSWORD --no-check; dcos package install spark --cli --yes; cd scale-tests/; export PYTHONPATH=../spark-testing:../testing; python3 batch_test.py $MESOS_SANDBOX/$SCRIPT_ARGS",
  "container": {
    "type": "DOCKER",
    "volumes": [],
    "docker": {
      "image": "susanxhuynh/dcos-commons:spark",
      "forcePullImage": false,
      "privileged": false,
      "parameters": []
    }
  },
  "cpus": {{template-script-cpus}},
  "disk": 1024,
  "env": {
    "DCOS_UID": "{{template-dcos-username}}",
    "DCOS_PASSWORD": "{{template-dcos-password}}",
    "SCRIPT_ARGS": "{{template-script-args}}",
    "SPARK_BUILD_BRANCH": "master"
  },
  "fetch": [
    {
      "uri": "{{template-input-file-uri}}",
      "extract": false,
      "executable": false,
      "cache": false
    }
  ],
  "instances": 1,
  "maxLaunchDelaySeconds": 3600,
  "mem": {{template-script-mem}},
  "gpus": 0,
  "networks": [
    {
      "mode": "host"
    }
  ],
  "portDefinitions": [],
  "requirePorts": false,
  "upgradeStrategy": {
    "maximumOverCapacity": 1,
    "minimumHealthCapacity": 1
  },
  "killSelection": "YOUNGEST_FIRST",
  "unreachableStrategy": {
    "inactiveAfterSeconds": 0,
    "expungeAfterSeconds": 0
  },
  "healthChecks": [],
  "constraints": []
}
